*{
    margin:0;
    padding: 0;

}
html,body{
    width: 100%;
    height: 100%;
}

/* box model
container has a boder 
padding is given inside border
box (element) kaisa treat kre
to tell html that our element is count as whole box 
box is spread throuout border

*/
.container{
    box-sizing: border-box;
    display: flex;
    background-color: bisque;
    flex-wrap: wrap;
}
.box{
    width: 25%;
    height: 120px;
    background-color: aquamarine;
    margin: 10px;
}
